/*Home page: Blog & FAQ*/

.section-container.home-blog-faq {
    gap: 64px;
}

.section-container.home-blog,
.section-container.home-faq {
    margin: 0;
}

/*Blog*/

.blog-card .wrapper {
    overflow: hidden;
}

.blog-card .author {
    position: relative;
    justify-content: flex-start;
    gap: 12px;

    font-size: 16px;
    font-weight: 300;
}

.blog-card .author .grey-text {
    margin-left: 64px;
}

.blog-card .author .logo {
    position: absolute;
    top: -32px;

    width: 56px;
    height: 56px;
}

.blog-card .card-heading {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*FAQ*/

.home-faq .desktop {
    gap: 32px;
    align-items: stretch;
}

.home-faq .desktop .image-wrapper {
    position: relative;
    z-index: 10;

    align-self: stretch;
    max-width: 584px;
    min-height: 423px;

    border-radius: 12px;
}

.home-faq .desktop .home-faq-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.home-faq .desktop .logo {
    position: absolute;
    top: 19px;
    left: 16px;

    width: 117px;
    height: 40px;
}


.home-faq .desktop .list-wrapper {
    flex-grow: 1;
    align-items: flex-start;
    gap: 56px;
}

.home-faq .desktop .faq-list {
    flex-grow: 1;
    gap: 24px;
}

.home-faq .checkmark-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/assets-v2/icons/home-faq-list-checkmark.svg");
}

.home-faq .desktop .faq-list-item {
    justify-content: flex-start;
    gap: 16px;

    color: var(--color-blue);
    font-size: 24px;
    font-weight: 300;
}

.home-faq .desktop .faq-list-item:hover {
    color: var(--color-darkblue);
}

.home-faq .desktop .button {
    align-self: center;
}

.home-faq .mobile {
    display: none;
}

@media screen and (max-width: 590px) {
    .section-container.home-blog-faq {
        gap: 48px;
    }

    /*Blog*/

    .blog-card .author {
        gap: 8px;
    }

    .blog-card .card-heading {
        font-size: 16px;
    }

    /*FAQ*/

    .home-faq .desktop {
        display: none;
    }

    .home-faq .mobile {
        display: flex;
    }

    .home-faq .mobile .list-wrapper{
        gap: 24px;
    }

    .home-faq .mobile .faq-card {
        gap: 16px;
        width: 100%;
        padding: 16px;

        border-radius: 12px;
        border: 1px dashed var(--color-blue);
        background-color: var(--color-lightgrey);
    }

    .home-faq .faq-card .description {
        margin-top: -8px;
        color: var(--color-grey);
        font-size: 14px;
        font-weight: 300;
    }

    .home-faq .faq-card .link {
        color: var(--color-blue);
        font-size: 14px;
        font-weight: 700;
    }

    .home-faq .mobile .button {
        border-radius: 16px;
        width: 100%;
    }
}