/*Home page: Career*/

.vacancy-card {
    padding: 16px;
    justify-content: space-between;
}

.vacancy-card .image {
    position: absolute;
    top: -23px;
    box-sizing: content-box;

    flex-shrink: 0;
    width: 72px;
    height: 72px;

    border: 6px solid var(--color-white);
    border-radius: 100%;
}

.vacancy-card .heading-container {
    gap: 2px;
}

.vacancy-card .heading-container .wrapper {
    gap: 4px;

    margin-left: 86px;
}

.vacancy-card .card-heading {
    font-size: 18px;
}

.vacancy-card .company {
    color: var(--color-grey);
    font-size: 14px;
}

.vacancy-card-badge {
    position: absolute;
    top: -12px;
    right: -12px;

    padding: 0 8px;
    border-radius: 13px;
    font-size: 12px;
    line-height: 27px;
}

.vacancy-card-badge.remote {
    background-color: #FFFAC9;
    color: var(--color-orange);
}

.vacancy-card .info-wrapper {
    gap: 8px;
    font-size: 14px;
}

.vacancy-card .info-sting {
    justify-content: flex-start;
    gap: 4px;

    white-space: nowrap;
    overflow: hidden;
}

.vacancy-card .info-sting .icon {
    width: 16px;
    height: 16px;
}

.home-career-exp {
    background-image: url("/assets-v2/icons/home-career-exp.svg");
}

.home-career-lang {
    background-image: url("/assets-v2/icons/home-career-lang.svg");
}

@media screen and (max-width: 590px) {
    .vacancy-card .image {
        width: 55px;
        height: 55px;

        border: none;
    }

    .vacancy-card .heading-container {
        gap: 8px;
    }

    .vacancy-card .image {
        position: static;
    }

    .vacancy-card .heading-container .wrapper {
        margin-left: 0;
    }

    .vacancy-card .card-heading {
        font-size: 16px;
    }

    .vacancy-card-badge {
        position: static;
        align-self: flex-start;
    }
}